#geracoesAnteriores,#geracaoFinal{
    display:none;
}
p{
    padding:0px;
    margin:0px;
}
body
{
    margin-left:10%;
    margin-right:10%;
    background-color:black;
    color:white;
    font-family:consolas;
}
input
{
    background-color:rgba(255,255,255,0.1);
    color:white;
    border:none;
    border-radius:5px;
    padding:5px;
    margin-bottom:20px;
    font-family:consolas;
    font-size:large;
}
.oculto
{
    overflow:hidden;
    max-height:0px;
}
div
{
    transition: max-height 2s;
}